mat-toolbar {
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
}

app-authorize-view {
  display: flex;
}

.space {
  flex: 0.7 0.7 auto;
}

@media (max-width: 880) {
  mat-toolbar {
    overflow: hidden;
    position: relative;
    border-radius: 0;
    display: block;
    top: 0;
  }

  app-authorize-view {
    display: block;
  }

  .space {
    flex: 0.2 0.2 auto;
  }
}
