/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

#break {
  height: 25px;
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: #d44d44;
  color: #fff;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #044c58;
  color: #fff;
}

.mat-focus-indicator .mat-flat-button .mat-button-base .mat-primary {
  background-color: #72cc48;
  color: #fff;
}

.mat-flat-button.mat {
  background: #72cc48;
  color: #fff;
}

.mat-toolbar.mat-primary {
  background: #72cc48;
  color: #fff;
}

.mat-button.mat-primary {
  background: #72cc48;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #72cc48;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.table-index {
  width: 100%;
  margin-top: 1rem;
}

.table-index a {
  margin-right: 1rem;
}
