<h2>Clubs Web Application</h2>

<img class="footballJpg" src="../../football.jpg" alt="Obraz piłkarski" />

<p>
  Aplikacja webowa, która pokazuje schemat funkcjonowania klubu, wraz z ich
  zawodnikami i trenerami, w aplikacji jest możliwość zalogowania się jako
  użytkownik i administrator, istnieje możliwość dodawania konkretnych piłkarzy
  do konkretnych klubów z konkretnych lig.
</p>

<img class="footballJpg" src="../../football1.jpg" alt="Obraz piłkarski 2" />

<p>
  Nowoczesne narzędzie do zarządzania klubem sportowym, dzięki któremu można
  dodawać kluby z poszczególnych lig, rejestrując w nich zawodników, trenerów
  czy odpowiednie narodowości. Istnieje także możliwość podglądu i oceny owych
  zawodników
</p>

<app-clubs-list
  (onDelete)="onDelete()"
  [clubs]="clubsInLeagues"
></app-clubs-list>

<h2>Future Matches</h2>

<app-clubs-list
  (onDelete)="onDelete()"
  [clubs]="clubsFutureReleases"
></app-clubs-list>
